*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body html{
  height: 100%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  overflow: hidden;
}
#main{
  height: 100vh;
  width: 100%;
  background-image: url(PZYQBOLFIJNQDG5S4T5AB7IXXY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 40px 50px;
}
#nav i{
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  color: black;
}
#nav h2{
  font-size: 30px;
}
#full{
  height: 100vh;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top:0;
  right:-40%;
  backdrop-filter: blur(10px);
  padding: 150px 60px;
}
#full h4{
  font-size: 50px;
  font-weight: 500;
  margin-bottom:10px;
}
#full i{
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}